<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <link rel="stylesheet" href="styling.css">
    <title>Luftkvalitet</title>
</head>

<body>

    <div id="app">
        <p>Lokale: </p>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <p>Nyeste måling</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
            
                    <table>
                        <td>Graf</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-secondary">Graf</button>
                                <button type="button" class="btn btn-secondary">Best/Worst</button>
                                <button type="button" class="btn btn-secondary">Andet</button>
                            </div>
                        </td>
                    </table>
            
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div v-on:click="showFilterMenu">
                            <p>Filter
                            <span v-if="showFilter == true">▲</span>
                            <span v-else>▼</span>
                            </p>
                    </div>
                        <diV v-if="showFilter == true">
                        <label>
                                dato fra:
                                <input type="date">
                            </label>
                            <label>
                                dato til:
                                <input type="date">
                            </label>
                        </diV>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Tidspunkt</th>
                                        <th>Lokale</th>
                                        <th>Luftkvalitet(CO2)</th>
                                        <th>Luftfughtighed</th>
                                    </thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>



    </div>

    <script src="index.js"></script>




</body>

</html>