body {
    margin-bottom: 60px;
    background: #f1f1f1;
    padding: 20px;
}


.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}


.low-value {
    background-color: lightgreen;
  }
  
  .medium-value {
    background-color: lightyellow;
  }
  
  .high-value {
    background-color: lightcoral;
  }



  .small-white {
    color: white;
    font-size: 1rem;
}

.arrow {
  font-size: 20px; /* Adjust the font size as needed */
  border: none;
}